/******************************************************/
/**        BODY e TAGS PADRÃO                 **/
body{
    background-image: url(../img/FundoCod.jpg);
}

.site{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
   /** background-color:#534394;**/
}

h1{
    
    font-family: "Ethnocentric";
}
/**Cabeçalho**/
header
{
    background-color: #c42567;
    width: 1200px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 100px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    padding: 3%;
    align-content: center;
    align-items: center;
}

header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header li {
    padding: 5%;
   margin: 5%;
}

header a{
    text-decoration: none;
    color: aliceblue;
}
/*****************************************************************/
/**SEÇÃO BANNER HOME**/
.Homemarca h1{
    font-size: 6.2em;
    color: aliceblue;
    text-align: center;
    font-family: "Ethnocentric";
    padding: 2%;
}

.Homemarca h2{
    font-size: 2.5em;
    color: aliceblue;
    text-align: center;
}
/*****************************************************************/
/**SEÇÃO SOBRE NÓS**/
.quemSomos{
    background-color: #c42567;
    width:1150px;
    height: 250px;
    margin: 25px;
}

.descricao {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2.3%;
}

.descricao h2{
    font-size: 1.5em;
    font-family: "Ethnocentric";
    text-align: center;
    padding: 5px;
    color: antiquewhite;
}
.descricao p{
  
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 570px;
    color: antiquewhite;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/********************************************************************/
/**SEÇÃO SERVIÇOS**/
.nossoValores{
    width: 1150px;
    height: 600px;
    margin: 25px;
}

.nossoValores {
    display: flex;
    justify-content: center;
}

.containers {
    display: grid;
    grid-template-columns: 400px 600px 400px;
    gap: 10px; /* Adjust the gap between the columns if needed */
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item img {
    width: 450px;
    height: 600px;
    box-shadow: 0 8px 16px 0 rgb(54 40 204 / 70%), 0 15px 10px 0 rgba(195, 149, 233, 0.19);
}
.itemH1{
    position: static;
}
.itemH1 {
    display: contents;
}
.h30 h1{
    font-size: 14rem;
    text-transform: uppercase;
    color: aliceblue;
    line-height: 1.2;
    position: absolute;
    left:360.64px;
    top: 585.5px;
    z-index: 8;
}

.h34 h1{
    font-size: 14rem;
    color: rgb(162, 166, 245);
    text-transform: uppercase;
    line-height: 1.2;
    position: absolute;
    left: 995.84px;
    top: 830.5px;
    z-index: 9;

}


/************************************************************/
/**SEÇÃO GALERIA **/
.galeria{
    margin: 25px;
 
}
.galeria img{
    padding: 3px;
}

/************************************************************/
/**SEÇÃO NOSSA MARCA**/
.conteinrMARCA
{position: absolute;
    top: 50px;
    left: 150px;
}

.nossaMarca{
    display: flex;
    
}
.nossaMarca > div:first-child img {
  
    position: absolute;
    left: 250px;
    top: 2000px;
    width: 275px;
    height: 275px;
    z-index: 11;
    margin: 25px;
}

.nossaMarca > div:last-child img {
   
    margin: 25px;
    position: absolute;
    left: 445px;
    top: 2180px;
    width: 275px;
     height: 275px;
    z-index: 12;

   
}
.nossaMarcaTexto > div:first-child {
    width: 600px;
    height: 300px;
    background:#c42567;
    position: absolute;
    left: 620px;
    top: 2030px;
    padding:20px;
}
.nossaMarcaTexto h1{
    text-align: center;
    color: aliceblue;
}

.nossaMarcaTexto p{
    text-align: justify;
    font-size: 1em;
    color: aliceblue;
    padding: 15px;
}

/***********************************************************/
/***********************************************************/
/**Coleção**/
.colecoes{
    position: absolute;
    top: 2560px;
    display: flex;
    height: 530px;
}
.nossaColecao{
    width: 300px;
    height: 400px;
    padding: 25px;
    margin: 25px;
}

.containerColecao img{
    width: 290px;
    height: 300px;
}

.containerColecao h2{
    text-align: center;
    color: #c42567;
    padding: 5px;
     font-family: "Ethnocentric"
}

.containerColecao p{
    text-align: justify;
    color: aliceblue;

}
/****************************************************/
/**Footer**/
.containerFooter{
    background-color: #c42567;
    width: 1200px;
    height: 100px;
    position: absolute;
    top: 3210px;
}
.containerFooter{
    display: flex;
    justify-content: space-around;
}

.logoFooter{
    width: 100px;
    height: 80px;
    padding: 10px;
}

.redesSociais {
    padding: 10px;
    margin: 10px;
}

.redesSociais a{
    direction: none;
    padding: 10px;
}


